
body{
    background-color: rgb(56, 56, 56);
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: auto;
    margin-top: 10px;
    padding: 3px 10px 20px 10px;
    background-color: rgba(0, 100, 0, 0.684);
    border-radius: 10px;
    box-shadow: 1px 1px black;
    max-width: 600px;
}
div#resultado{
    background-color: brown;
    padding: 10px 0px 15px 0px;
}

input{
    margin: 0px 0px 3px 0px;
    border-radius: 7px;
    text-align: center;
}

button{
    margin: 10px 0px 0px 0px;
    border-radius: 3px;
}

a{
    color: lightgreen;
}